In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('../training_data/important_sentences.csv')

In [17]:
df

       Unnamed: 0                                           sentence
0               0  Je krijgt die als je bent ingeschreven en de n...
1               1  Zo krijg je snel de juiste informatie en instr...
2               2  Iedereen die dan aanwezig is in een bepaalde z...
3               3  Nationale test BE-Alert 18 steden en gemeenten...
4               4  Stap als het kan over op één van de park-and-r...
...           ...                                                ...
23804       23804  Inschrijven Reglement stedelijke zwembaden Lee...
23805       23805  De school op Linkeroever had een groot grasvel...
23806       23806  De school organiseert elk jaar een aantal geze...
23807       23807  Stad Antwerpen is op zoek naar vrijwillige bur...
23808       23808  De opleiding gaat door op zaterdag 9/3, zaterd...

[23809 rows x 2 columns]